@(posts: List[Post])

@blogindex(posts, "sun_trail.jpg") {
    <div class="page-heading">
        <h1>About Me</h1>
        <hr class="small">
        <span class="subheading">If you are irritated by every rub, how will you be polished ? ~ Rumi</span>
    </div>
} {

    <p>Craft beer lover, hiker and foodie, recently I have been interested in functional programming.
        This blog is about my journey into playing, learning and trying to understand functional programming.</p>

    <p>This blog is built using Scala, Play framework, Scalaz and Slick</p>
    }
