@(posts: List[Post])

@blogindex(posts, "sun_trail.jpg") {
    <div class="page-heading">
        <h1>About Me</h1>
        <hr class="small">
        <span class="subheading">If you are irritated by every rub, how will you be polished ? ~ Rumi</span>
    </div>
} {

    <p>Craft beer lover, hiker and foodie, recently I have been interested in functional programming.
        This blog is about my journey into playing, learning and trying to understand functional programming.</p>

    <p>This blog is built using Scala, Play framework, Scalaz and Slick</p>
    <p>Here is a list of functional abstractions used while creating this blog:</p>
    <ul class="list-group">
        <li class="list-group-item">Reader Monad for Dependency Injection</li>
        <li class="list-group-item">Kleisli composition</li>
        <li class="list-group-item">Monad Transformers</li>
        <li class="list-group-item">Scalaz memoization</li>
    </ul>
    <p>I'm very open to learning, so feel free to send me any feedback, corrections or any other suggestions.
        My email is [code.monkey.1982] at g m a i l</p>
    }
