@(posts: List[Post])
@import models.PostHelper.formatDate
@blogindex(posts){
    <div class="site-heading">
        <h1>sandeep virdi</h1>
        <hr class="small">
        <span class="subheading">Learn functional programming</span>
    </div>
} {

    @if(posts.nonEmpty){
        @for(p <- posts) {
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="svirdi/about">svirdi</a> on @formatDate(p.createdAt)</p>
            </div>
        }

    }
}

