@(posts: List[Post])
@import models.PostHelper.getRandomHeaderPic

@blogindex(posts, getRandomHeaderPic) {
<div class="page-heading">
    <h1>Git Discover Project Details</h1>
</div>
} {


<p>This is an ETL project using 520 GB Github Archive Data. I used S3 for file system, Spark for processing and Cassandra for the storage layer.
    I used D3 charting library to create dashboards.</p>
<p>Here are the links to the Video and the Slide Deck</p>
<ul class="list-group">
    <li class="list-group-item"><a href="http://www.slideshare.net/mobby1982/gitdiscover">Slides</a></li>
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=fr5hm6zOj2c&feature=youtu.be&t=14">Video</a></li>

</ul>

}
