<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href='@routes.Assets.at("stylesheets/nvd3.css")' rel="stylesheet">

    <style>
        text {
        font: 12px sans-serif;
        }
        svg {
        display: block;
        }
        html, body, #chart1, svg {
        margin: 0px;
        padding: 0px;
        height:500px;
        width: 500px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Git Discover</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">List of Top Projects</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="page-header" style="margin: 55px 0 20px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="rname" type="text" class="form-control" placeholder="Full Repository name" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">username/repositoryname</span>
                    </div>

                    <!-- Single button -->
                    <div id="month" class="btn-group" style="margin-top:5px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Month <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>
                    <div id="gevent" class="btn-group" style="margin-top:5px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Event Type <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">CommitCommentEvent</a></li>
                            <li><a href="#">CreateEvent</a></li>
                            <li><a href="#">ForkEvent</a></li>
                            <li><a href="#">ForkApplyEvent</a></li>
                            <li><a href="#">IssueCommentEvent</a></li>
                            <li><a href="#">IssuesEvent</a></li>
                            <li><a href="#">PullRequestEvent</a></li>
                            <li><a href="#">PullRequestReviewCommentEvent</a></li>
                            <li><a href="#">PushEvent</a></li>
                            <li><a href="#">WatchEvent</a></li>

                        </ul>
                    </div>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top:5px;">
                        <button id="tform" type="button" class="btn btn-default">Submit</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="chart1" class='with-3d-shadow with-transitions'>
                        <svg></svg>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- /.container -->




    <script src='@routes.Assets.at("javascripts/d3.min.js")'></script>

    <script src='@routes.Assets.at("javascripts/stream_layer.js")'></script>

    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"  charset="utf-8"> </script>

    <!--script src="lib/stream_layers.js"></script-->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='@routes.Assets.at("javascripts/projectdetails.js")'></script>

    <script src='@routes.Assets.at("javascripts/ptimeseries.js")'></script>

    </body>
</html>
